<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>students</title>
</head>
<body>
    <a href="{% url 'add' %}"><button>ADD STUDENT</button></a><br><br>
    <table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Corse</th>
        <th>Teacher_name</th>
    </tr>
    {% for i in details %}
    <tr>
        <td>{{i.username}}</td>
        <td>{{i.grade}}</td>
        <td>{{i.course}}</td>
        

    </tr>
    {% endfor %}
    
</table>

    
</body>
</html>