{% extends 'index2.html' %}
{% load static %}
{% block content %}
<body>
    <form action="{% url 'edit' id=data.id %}" method="post" >
        {% csrf_token %}
        <input type="text" placeholder="FIrst name" name="first name" value="{{data.first_name}}">
        <input type="text" placeholder="Last name" name="last name" value="{{data.last_name}}">
        <input type="email" placeholder="Enter email" name="email" value="{{data.email}}">
        <input type="password" placeholder="password" name="password" value="{{data.password}}">
        <button type="submit">Edit</button>

    </form>
</body>
{% endblock %}