<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'add_mark' id=student.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="term" placeholder="Term" >
        <input type="text" name="subject1" placeholder="subject1" >
        <input type="text" name="subject2" placeholder="subject2" >
        <input type="text" name="subject3" placeholder="subject3" >
        <button type="submit">Enter</button>
    </form>
</body>
</html>