<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
    <form action="{% url 'edit' id=details.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Name" value="{{details.name}}">
        <input type="email" name="email" placeholder="Email" value="{{details.email}}">
        <input type="text" name="course" placeholder="Course" value="{{details.course}}">
        <button type="submit">Edit</button>
    </form>
</body>
</html>