<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>score</title>
</head>
<body>
    <form action="{% url 'edit_score' id=details.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="maths" placeholder="Maths" value="{{details.maths}}">
        <input type="text" name="english" placeholder="English" value="{{details.english}}">
        <input type="text" name="science" placeholder="Science" value="{{details.science}}" >
        <button type="submit">Edit</button>
    </form>
</body>
</html>