<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'edit' %}" method="post">
        {% csrf_token %}
        <input type="text" name="firstname" placeholder="First name" value="{{data.first_name}}" >
        <input type="text" name="lastname" placeholder="Last name" value="{{data.last_name}}">
        <input type="email" name="email" placeholder="Email" value="{{data.email}}">
        <input type="password" name="password" placeholder="Password" value="{{data.password}}">
        <input type="text" name="username" placeholder="User name" value="{{data.username}}">
        <input type="number" name="phone" placeholder="Phone Number" value="{{data.phone}}">
        <button type="submit">Edit</button>
    </form>
</body>
</html>