<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'mark' %}" method="post">
        {% csrf_token %}
        <input type="text" name="maths" placeholder="Maths" >
        <input type="text" name="english" placeholder="English" >
        <input type="text" name="science" placeholder="Science" >
        <button type="submit">Enter</button>
    </form>
</body>
</html>